{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Phil's Resume</title>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'resume/main.css' %}">
</head>
<body>
  <div class="container">
    <section>
      <div>
        <div><img src="{{ 'static/default.jpg' }}"></div>
      </div>
      <div>
        <div class="my-name">Phil Bates</div>
        <div class="my-title">Information Technology Technician</div>
        <div class="links">
          <div style="padding-left: 20px"; class="link-item">
            <svg class="icon" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1520 1216q0-40-28-68l-208-208q-28-28-68-28-42 0-72 32 3 3 19 18.5t21.5 21.5 15 19 13 25.5 3.5 27.5q0 40-28 68t-68 28q-15 0-27.5-3.5t-25.5-13-19-15-21.5-21.5-18.5-19q-33 31-33 73 0 40 28 68l206 207q27 27 68 27 40 0 68-26l147-146q28-28 28-67zm-703-705q0-40-28-68l-206-207q-28-28-68-28-39 0-68 27l-147 146q-28 28-28 67 0 40 28 68l208 208q27 27 68 27 42 0 72-31-3-3-19-18.5t-21.5-21.5-15-19-13-25.5-3.5-27.5q0-40 28-68t68-28q15 0 27.5 3.5t25.5 13 19 15 21.5 21.5 18.5 19q33-31 33-73zm895 705q0 120-85 203l-147 146q-83 83-203 83-121 0-204-85l-206-207q-83-83-83-203 0-123 88-209l-88-88q-86 88-208 88-120 0-204-84l-208-208q-84-84-84-204t85-203l147-146q83-83 203-83 121 0 204 85l206 207q83 83 83 203 0 123-88 209l88 88q86-88 208-88 120 0 204 84l208 208q84 84 84 204z"/></svg>
            <a style="color:blue" href="https://github.com/tristan454">Git Hub repositories</a>
          </div>
          <div style="padding-right: 50px" class="link-item">
            <svg class="icon" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1664 1504v-768q-32 36-69 66-268 206-426 338-51 43-83 67t-86.5 48.5-102.5 24.5h-2q-48 0-102.5-24.5t-86.5-48.5-83-67q-158-132-426-338-37-30-69-66v768q0 13 9.5 22.5t22.5 9.5h1472q13 0 22.5-9.5t9.5-22.5zm0-1051v-24.5l-.5-13-3-12.5-5.5-9-9-7.5-14-2.5h-1472q-13 0-22.5 9.5t-9.5 22.5q0 168 147 284 193 152 401 317 6 5 35 29.5t46 37.5 44.5 31.5 50.5 27.5 43 9h2q20 0 43-9t50.5-27.5 44.5-31.5 46-37.5 35-29.5q208-165 401-317 54-43 100.5-115.5t46.5-131.5zm128-37v1088q0 66-47 113t-113 47h-1472q-66 0-113-47t-47-113v-1088q0-66 47-113t113-47h1472q66 0 113 47t47 113z"/></svg>
            <a style="color:blue" href="mailto:phillipmbates85@gmail.com">phillipmbates85@gmail.com</a>
          </div>
          <div class="link-item">
            <svg  class="icon" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1600 1240q0 27-10 70.5t-21 68.5q-21 50-122 106-94 51-186 51-27 0-53-3.5t-57.5-12.5-47-14.5-55.5-20.5-49-18q-98-35-175-83-127-79-264-216t-216-264q-48-77-83-175-3-9-18-49t-20.5-55.5-14.5-47-12.5-57.5-3.5-53q0-92 51-186 56-101 106-122 25-11 68.5-21t70.5-10q14 0 21 3 18 6 53 76 11 19 30 54t35 63.5 31 53.5q3 4 17.5 25t21.5 35.5 7 28.5q0 20-28.5 50t-62 55-62 53-28.5 46q0 9 5 22.5t8.5 20.5 14 24 11.5 19q76 137 174 235t235 174q2 1 19 11.5t24 14 20.5 8.5 22.5 5q18 0 46-28.5t53-62 55-62 50-28.5q14 0 28.5 7t35.5 21.5 25 17.5q25 15 53.5 31t63.5 35 54 30q70 35 76 53 3 7 3 21z"/></svg>
            <a style="color:blue" href="tel:630-776-0515">630-776-0515</a>
          </div>
        </div> <!-- end links -->

        <p>Upcoming graduate offering a strong academic background in Information Technologies. Consistently recognized for technical troubleshooting skills. Successful in both team and self-directed settings with the ability to proficiently assimilate new technology. Strong history of discovering errors, resolving defects, and ensuring client expectations are met. </p>
      </div>
    </section>

    <section>
      <div class="section-title">Experience</div>
      <div>
        <div class="job">
          <div class="job-title-container">
            <div>
              <div class="job-company">Diehl Auto Repair</div>
              <div class="job-title">Technical Support Specialist / Service Advisor</div>
            </div>
            <div>
              Jan 2018 - Nov 2018
            </div>
          </div> <!-- end job-title container -->
          <p>Installed, Maintained, Upgraded, and Troubleshot network. Developed and implemented disaster recovery plans. Evaluated and improved network security measures. Isolated and Resolved network communication issues and provided. Maintained and repaired Microsoft Windows desktop and server enviorments.</p>
        </div> <!-- end job -->

        <div class="job">
          <div class="job-title-container">
            <div>
              <div class="job-company">AutoPlus</div>
              <div class="job-title">Service Advisor</div>
            </div>
            <div>
              Oct 2017 - Jan 2018
            </div>
          </div> <!-- end job-title container -->
          <p>Leveraged strengths in persuasive communication and consultive sales to become a top sales performer. Monitored multiple customer invoices and vehicle repairs. Delivered prompt and honest estimates utilizing current technologies. Provided follow up communication for up-to-date repair information and customer satisfaction.</p>
        </div> <!-- end job -->

        <div class="job">
          <div class="job-title-container">
            <div>
              <div class="job-company">Bartels Auto Clinic</div>
              <div class="job-title">Operations Manager</div>
            </div>
            <div>
              August 2009 - Oct 2017
            </div>
          </div> <!-- end job-title container -->
          <p>Lead management role that directed a team of technician and sales employees. Increased production and revenue consistenly while maintaining integrity and customer satisfaction. Implemented inventory control systems and setup automated purchase ordering routines.</p>
        </div> <!-- end job -->
      </div>
    </section>

    <section>
      <div class="section-title">Education</div>
      <div>
        <div class="job">
          <div class="job-title-container">
            <div>
              <div class="job-company">College of Dupage</div>
              <div class="job-title">Associates in Applied Science</div>
            </div>
            <div>
              Currently Enrolled
            </div>
          </div> <!-- end job-title container -->
          <p>Currently enrolled and will be transferring into a Bachelor's Program</p>
        </div> <!-- end job -->
      </div>
    </section>

    <section>
      <div class="section-title">Skills</div>
      <div>
        <div class="skills-container">
          <ul>
            <li>Database Management CIS 2710</li>
            <li>Intro to Networking CIS 1180</li>
            <li>HTML & CSS CIS 1310</li>
            <li>Django Framworks</li>
          </ul>

          <ul>
            <li>Programming Logic and Technique CIS 1400</li>
            <li>Introduction to Java CIS 2571</li>
            <li>Languages: Python, Java Script, SQL, HTML </li>
            <li>Databases: My SQL, SQLite, Access, Relational Databases</li>
          </ul>

          <ul>
            <li>Window MCSA prep course CIT 1612</li>
            <li>Intro Computer Info Systems CIS 1150</li>
            <li>CompTIA prep cource</li>
            <li>Software: MS Office, Windows Server 2003,2008,2012, Windows 7/10 </li>
          </ul>
        </div> <!-- end skills-container -->

        <p></p>
      </div>
    </section>

    <section>
      <div class="section-title">Interests</div>
      <div class="interests-container">
        <img src="{{ 'static/camera.svg' }}">
        <img src="{{ 'static/piano.svg' }}">
        <img src="{{ 'static/controller.svg' }}">
        <img src="{{ 'static/headphones.svg' }}">
        <img src="{{ 'static/monitor.svg' }}">
        <img src="{{ 'static/video.svg' }}">
        <img src="{{ 'static/cutlery.svg' }}">
      </div>
    </section>

    <section>
      <div class="section-title">Personal Reference</div>
      <div>
        <div class="job-company">Victory Mixed Martial Arts</div>
        <div class="job-title">Adam Gresko</div>
        <div class="links">
          <div class="link-item">
            <svg class="icon" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1520 1216q0-40-28-68l-208-208q-28-28-68-28-42 0-72 32 3 3 19 18.5t21.5 21.5 15 19 13 25.5 3.5 27.5q0 40-28 68t-68 28q-15 0-27.5-3.5t-25.5-13-19-15-21.5-21.5-18.5-19q-33 31-33 73 0 40 28 68l206 207q27 27 68 27 40 0 68-26l147-146q28-28 28-67zm-703-705q0-40-28-68l-206-207q-28-28-68-28-39 0-68 27l-147 146q-28 28-28 67 0 40 28 68l208 208q27 27 68 27 42 0 72-31-3-3-19-18.5t-21.5-21.5-15-19-13-25.5-3.5-27.5q0-40 28-68t68-28q15 0 27.5 3.5t25.5 13 19 15 21.5 21.5 18.5 19q33-31 33-73zm895 705q0 120-85 203l-147 146q-83 83-203 83-121 0-204-85l-206-207q-83-83-83-203 0-123 88-209l-88-88q-86 88-208 88-120 0-204-84l-208-208q-84-84-84-204t85-203l147-146q83-83 203-83 121 0 204 85l206 207q83 83 83 203 0 123-88 209l88 88q86-88 208-88 120 0 204 84l208 208q84 84 84 204z"/></svg>
            <a href="http://google.ca">##</a>
          </div>
          <div class="link-item">
            <svg class="icon" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1664 1504v-768q-32 36-69 66-268 206-426 338-51 43-83 67t-86.5 48.5-102.5 24.5h-2q-48 0-102.5-24.5t-86.5-48.5-83-67q-158-132-426-338-37-30-69-66v768q0 13 9.5 22.5t22.5 9.5h1472q13 0 22.5-9.5t9.5-22.5zm0-1051v-24.5l-.5-13-3-12.5-5.5-9-9-7.5-14-2.5h-1472q-13 0-22.5 9.5t-9.5 22.5q0 168 147 284 193 152 401 317 6 5 35 29.5t46 37.5 44.5 31.5 50.5 27.5 43 9h2q20 0 43-9t50.5-27.5 44.5-31.5 46-37.5 35-29.5q208-165 401-317 54-43 100.5-115.5t46.5-131.5zm128-37v1088q0 66-47 113t-113 47h-1472q-66 0-113-47t-47-113v-1088q0-66 47-113t113-47h1472q66 0 113 47t47 113z"/></svg>
            <a href="mailto:phillipmbates85@gmail.com"></a>
          </div>
          <div class="link-item">
            <svg  class="icon" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1600 1240q0 27-10 70.5t-21 68.5q-21 50-122 106-94 51-186 51-27 0-53-3.5t-57.5-12.5-47-14.5-55.5-20.5-49-18q-98-35-175-83-127-79-264-216t-216-264q-48-77-83-175-3-9-18-49t-20.5-55.5-14.5-47-12.5-57.5-3.5-53q0-92 51-186 56-101 106-122 25-11 68.5-21t70.5-10q14 0 21 3 18 6 53 76 11 19 30 54t35 63.5 31 53.5q3 4 17.5 25t21.5 35.5 7 28.5q0 20-28.5 50t-62 55-62 53-28.5 46q0 9 5 22.5t8.5 20.5 14 24 11.5 19q76 137 174 235t235 174q2 1 19 11.5t24 14 20.5 8.5 22.5 5q18 0 46-28.5t53-62 55-62 50-28.5q14 0 28.5 7t35.5 21.5 25 17.5q25 15 53.5 31t63.5 35 54 30q70 35 76 53 3 7 3 21z"/></svg>
            <a href="tel:708-296-8528">708-296-8528</a>
          </div>
        </div> <!-- end links -->

        <p class="reference-details">As a student under Mr. Gresko I have enhanced my leadership and communication skills. Following his instructions I now lead the adult program and help change and shape the lives of our students.</p>

        <div class="reference">More references available upon request.</div>
      </div>
    </section>

  </div>
</body>
</html>
{% endblock content %}
